body {
    margin: 0%;
    font-family: 'Syne Tactile', cursive;
    width:100%;
    height:150vh;
}
.flexbox-about{
  flex-direction: column;
  display:flex;
  height:100%;
  width:100%;
  background-color:#D3DEDC;
  margin:0%;
}

.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }


.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content:baseline;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color:#D3DEDC;
  }
  
  .flex-item {
    padding: 5px;
    width: fit-content;
    height: fit-content;
    line-height: 150px;
    size-adjust:100px;
  }
  img {
    width: 300px;
    position: relative;
  }